body {
    background: #cfbc98;
}

.game {
    float: left;
}

.game input {
    font-size: 20px;
}

.hud {
    font-size: 20px;
    padding-top: 50px;
}

.dropdown {
    float: left;
}

.dropdown_button {
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #000000;
}

.courses {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.courses li {
    color: black;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: rgb(47, 47, 47);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid white;
}

.courses li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.courses li:hover {
    background-color: #0979ad;
    color: white;
}

#whichP, #p1, #p2 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#p1 {
   color: rgb(26, 83, 140);
}

#p2 {
    color:crimson;
}

table, tr, td {
    border: 2px solid #000000;
    border-collapse: collapse;
}

table img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}
#info {
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}







/* td {
    height: 512px;
    width: 512px;
} */