body {
    background: #cfbc98;
}

.game {
    float: left;
}

.game input {
    font-size: 20px;
}

.hud {
    font-size: 20px;
    padding-top: 50px;
}

#whichP, #p1, #p2 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#p1 {
   color: rgb(26, 83, 140);
}

#p2 {
    color:crimson;
}

table, tr, td {
    border: 2px solid #000000;
    border-collapse: collapse;
}

table img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}
#info {
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}






/* td {
    height: 512px;
    width: 512px;
} */